{erl_opts, [debug_info]}.
{minimum_otp_vsn, "19.0"}.
{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
    {fs, {git, "https://github.com/synrc/fs.git", {ref, "80d6b6"}}},
    {misultin, {git, "https://github.com/ostinelli/misultin.git", {ref, "b9fe31"}}}
]}.
{plugins, [rebar3_auto]}.
